.radar svg {
    height: 400px;
    width: 400px;
}

.radar svg > g {
    transform: translate(200px, 200px);
}

.discs circle {
    fill: none;
    stroke: black;
    stroke-width: 2x;
}

.hours path {
    stroke: #ff2c01;
}

.minutes path {
    stroke: #fdd600;
}

.seconds path {
    stroke: #8cb820;
}

.discs path {
    stroke-width: 8px;
    stop-color: green;
}

.dial circle {
    fill: #484848;
    stroke: #3d3d3f;
    stroke-width: 16px;
}