.radar svg {
    height: 400px;
    width: 400px;
}

.radar svg > g {
    transform: translate(200px, 200px);
}

.discs circle {
    fill: none;
    stroke: black;
}

.discs path {
    stroke: #c0160c;
    stroke-width: 1px;
    stop-color: green;
}

.dial {
    fill: #500806;
    stroke: #3d3d3f;
    stroke-width: 16px;
}